---
layout: default
title: Site Index
permalink: /site-index.html
---

<h2>Helpful Links</h2>
  <ul>
    {% for page in site.pages unless page.url contains "/page" %}
      {% if page.type == "info" %}
        <li>
         <a href="{{ page.url }}">{{ page.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul> 

<h2>Posts</h2>
  <ul>
    {% for post in site.posts limit:200 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> 



