---
layout: page
title: To Do
subtitle: Notes
type: info
---

<h2>Posts</h2>
<ul>
<li>Second half of https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-01-08-weighted-domain-report.md</li>
<li>Second half of https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-01-23-scraping-highcharts-data.md</li>
<li>Additional info https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-01-30-common-csp-issues.md</li>
<li>Most of https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-02-05-DEV-percentile-disc-cont.md</li>
<li>Code examples https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-02-13-navigation-link-tests.md</li>
<li>Code examples https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-02-26-object-prototype-conflicts.md</li>
<li>Few code examples https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-03-03-flat-file-to-dataframe.md</li>
<li>Most of https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-03-29-get-your-site-on-google.md</li>
<li>Code examples https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-04-01-selenium-scraping-class.md</li>
<li>Most of https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-04-08-image-timestamp-preprocess.md</li>
<li>Testing https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-05-01-defer-offscreen-images.md</li>
<li>Additional info https://github.com/strangepy/strangepy.github.io/blob/master/_posts/2020-05-15-creating-requests-class.md</li>
</ul>

<h2>Other</h2>
<ul>
<li>New post for multithreading selenium class </li>
<li>New post for requests class</li>
<li>Post for API client? </li>
</ul>

<h2>Unpublished Posts </h2>
<div class="aside"><div class="posts-list">{% for post in site.posts %}{% if post.published==false %} <a href="{{ post.url | relative_url }}"><h2 class="post-title">{{ post.title }}</h2></a><p class="post-meta">Posted on {{ post.date | date: site.date_format }}</p>{% endif %}{% endfor %}</div></div>
